<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Citas Literarias</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <!-- Botones de navegación a otras páginas -->
    <ion-button expand="full" routerLink="/gestioncitas">Ir a Gestión de Citas</ion-button>
    <ion-button expand="full" routerLink="/configuracion">Ir a Configuración</ion-button>
  </ion-content>

  <!-- El ion-router-outlet maneja la carga de páginas -->
  <ion-router-outlet></ion-router-outlet>
</ion-app>
